:root {
  --button-color: var(--default-pink);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  border: var(--border-default);
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 7rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.flip {
  background-color: var(--button-color);
}

button.edit {
  border: var(--border-default);
  background-color: #fff;
}

button.edit.new {
  width: 15rem;
}

button.add {
  background-color: var(--button-color);
}

.button.delete {
  border-radius: 0;
  background-color: transparent;
  justify-self: flex-end;
  width: 3rem;
  flex: none;
  border: none;
}
